.pins
  - each pin in pinned
    .pin
      - if (pin.img)
        img(src=pin.img)
      div(class="pin-" + pin._id + " module")
        div
          a(href=pin.href, target=pin.target)
            span.title #{pin.title}
        div.module-footer
          a(href=pin.href, target=pin.target) #{pin.date}
.filters
  .module
    div
      h4 Tags
    .group
      - if (tags && tags.length)
        - each tag in tags
          - if (tag.selected)
            a.tag.selected(href=tag.url) #{tag.value}
          - if (!(tag.selected))
            a.tag(href=tag.url) #{tag.value}
      - if (!tags || !(tags.length))
        span No Tags Found
  .categories
