.pins
  - each pin in pinned
    div(class="pin pin-" + pin.id + " module")
      div
        a(href=pin.href, target=pin.target)
          span.title #{pin.title}
      div.module-footer
        a(href=pin.href, target=pin.target) #{pin.date}
.filters
  .tags
    - each tag in tags
      .tag #{tag}
  .categories
